[Desktop Entry]
Name=XBoing
Comment=Breakout-style Game
Comment[pl]=Gra pod X podobna do Breakouta
Icon=xboing
Exec=xboing
Type=Application
Terminal=false
Categories=Game;ArcadeGame;
# vi: encoding=utf-8
