[Desktop Entry]
Encoding=UTF-8
Name=XBoing
Comment=Breakout-style Game
Comment[pl]=Gra pod X podobna do Breakout
Icon=xboing.png
Exec=xboing
Type=Application
Terminal=false
Categories=Game;ArcadeGame;
# vi: encoding=utf-8
