[Desktop Entry]
Name=XBoing
Comment=Breakout-style Game
Comment[pl]=Gra pod X podobna do Breakout
Icon=xboing.png
Exec=xboing
Type=Application
Terminal=false
